%h1 Checkout
%p Purchasing: #{@item.title}
%p Description: #{@item.description}
%p
  - @item.categories.each do |category|
    = category.name
    - unless category == @item.categories.last
      = ', '
%p Price: $#{'%.2f' % @item.price}
= button_to 'Purchase', purchase_checkout_path(@item), method: :post, class: "btn btn-primary"



