.checkout-container
  %h1 Review item and shipping

  .checkout-item
    .item-details
      %h2= @item.title
      %p.seller Seller: #{@user.username}
      - if @item.images.any?
        = image_tag @item.images.first.data_uri, alt: @item.title, class: 'item-image'
      %p= @item.description
      %p.item-price
        %span.current-price= "$#{'%.2f' % @item.price}"


  .address-selection
    %label{for: "address-select"} Select an Address:
    %select#address-select{name: "address_id"}
      - @user.addresses.each do |address|
        %option{value: address.id}= address.full_address

  .payment-selection
    %label{for: "payment-method-select"} Select a Payment Method:
    %select#payment-method-select{name: "payment_method_id"}
      - @user.payment_methods.each do |payment_method|
        %option{value: payment_method.id}= "Ending in #{payment_method.encrypted_card_number[-4..-1]} - Expires #{payment_method.expiration_date.strftime('%m/%Y')}"

  - if @item.purchased?
    %p This item has already been purchased.
  - else
    = button_to 'Confirm and pay', purchase_checkout_path(@item), method: :post, class: "confirm-button"

