-# in app/views/search/index.html.haml
%section.search_page_container
  %h1.search_header Displaying results for: #{params[:search_term]}

  = form_tag(search_path, method: :get, class: 'filter_form') do
    .filters_container
      %fieldset.categories_filter
        %legend Filter by categories
        - Category.all.each do |category|
          .category_checkbox
            = label_tag "categories_#{category.name.parameterize}" do
              = hidden_field_tag :search_term, params[:search_term]
              - is_checked = params[:categories].blank? || params[:categories]&.include?(category.name)
              = check_box_tag 'categories[]', category.name, is_checked, id: "categories_#{category.name.parameterize}"
              %span.checkmark
              = category.name

      %fieldset.price_filter
        %legend Filter by price
        .price_range
          = label_tag :min_price, 'Min Price:'
          = text_field_tag :min_price, params[:min_price], placeholder: 'No minimum'
        .price_range
          = label_tag :max_price, 'Max Price:'
          = text_field_tag :max_price, params[:max_price], placeholder: 'No maximum'

    = submit_tag 'Filter', class: 'filter_button'

  - if @results.any?
    %ul.results_list
      - @results.each do |item|
        %li.result_item
          = link_to item.title, item_path(item), class: 'item_link'
          %p.item_price= number_to_currency(item.price)
          %p.item_categories
            - item.categories.each_with_index do |category, index|
              = category.name
              - unless index == item.categories.size - 1
                %span.separator ,
          %figure.item_image
            %img{ src: item.images.first.data_uri, alt: item.title }
  - else
    %p.no_results No items found
