-# in app/views/search/index.html.haml

%section.search_page_container
  %h1 Displaying results for: #{params[:search_term]}
  .category_filter_form
    = form_tag(search_path, method: :get, class: 'filter_form') do
      %fieldset
        %legend Filter by categories
        - Category.all.each do |category|
          .category_checkbox
            = label_tag "categories_#{category.name}", category.name
            = check_box_tag 'categories[]', category.name, params[:categories].blank? || params[:categories].include?(category.name), id: "categories_#{category.name.parameterize}"
      = submit_tag 'Filter', class: 'filter_button'
  - if @results.any?
    %ul.results_list
      - @results.each do |item|
        %li.result_item
          = link_to item.title, item_path(item), class: 'item_link'
          %p.item_price= number_to_currency(item.price)
          %p.item_categories
            - item.categories.each_with_index do |category, index|
              = category.name
              - unless index == item.categories.size - 1
                %span.separator ,
          %figure.item_image
            %img{ src: item.images.first.data_uri, alt: item.title }
  - else
    %p.no_results No items found
