-# in app/views/users/edit.html.haml

- countries_list = [ "Select a Country", "United States of America", "Afghanistan",
  "Albania", "Algeria", "Andorra", "Angola", "Antigua and Barbuda", "Argentina",
  "Armenia", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain",
  "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bhutan",
  "Bolivia", "Bosnia and Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria",
  "Burkina Faso", "Burundi", "Cabo Verde", "Cambodia", "Cameroon", "Canada",
  "Central African Republic", "Chad", "Chile", "China", "Colombia", "Comoros",
  "Congo, Democratic Republic of the", "Congo, Republic of the", "Costa Rica",
  "Cote d'Ivoire", "Croatia", "Cuba", "Cyprus", "Czechia", "Denmark", "Djibouti",
  "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador",
  "Equatorial Guinea", "Eritrea", "Estonia", "Eswatini", "Ethiopia", "Fiji",
  "Finland", "France", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Greece",
  "Grenada", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Honduras",
  "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Israel",
  "Italy", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Kosovo",
  "Kuwait", "Kyrgyzstan", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya",
  "Liechtenstein", "Lithuania", "Luxembourg", "Madagascar", "Malawi", "Malaysia",
  "Maldives", "Mali", "Malta", "Marshall Islands", "Mauritania", "Mauritius", "Mexico",
  "Micronesia", "Moldova", "Monaco", "Mongolia", "Montenegro", "Morocco", "Mozambique",
  "Myanmar", "Namibia", "Nauru", "Nepal", "Netherlands", "New Zealand", "Nicaragua",
  "Niger", "Nigeria", "North Korea", "North Macedonia", "Norway", "Oman", "Pakistan",
  "Palau", "Palestine", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines",
  "Poland", "Portugal", "Qatar", "Romania", "Russia", "Rwanda", "Saint Kitts and Nevis",
  "Saint Lucia", "Saint Vincent and the Grenadines", "Samoa", "San Marino",
  "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Serbia", "Seychelles",
  "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia",
  "South Africa", "South Korea", "South Sudan", "Spain", "Sri Lanka", "Sudan",
  "Suriname", "Sweden", "Switzerland", "Syria", "Taiwan", "Tajikistan", "Tanzania",
  "Thailand", "Timor-Leste", "Togo", "Tonga", "Trinidad and Tobago", "Tunisia",
  "Turkey", "Turkmenistan", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates",
  "United Kingdom", "Uruguay", "Uzbekistan", "Vanuatu", "Vatican City", "Venezuela",
  "Vietnam", "Yemen", "Zambia", "Zimbabwe"];

- states_list = [ "Select a State", "Alabama", "Alaska", "Arizona", "Arkansas", "California",
  "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois",
  "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts",
  "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada",
  "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota",
  "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota",
  "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin",
  "Wyoming"];

.edit-profile-container
  = form_tag add_payment_method_user_path(current_user), method: :post, class: 'user-form' do
    .payment-fields
      = label_tag :card_number, "Card number #{content_tag(:span, '*', class: 'required')}".html_safe
      = text_field_tag :card_number, nil, maxlength: '19', placeholder: 'XXXX XXXX XXXX XXXX', class: 'card-number-input', autocomplete: 'cc-number', required: true, pattern: "\\d{4} \\d{4} \\d{4} \\d{4}"

      = label_tag :expiration_date, "Expiration Date #{content_tag(:span, '*', class: 'required')}".html_safe
      %div.expiration-date-container
        = select_tag :expiration_month, options_for_select((1..12).map { |m| m < 10 ? "0#{m}" : m.to_s }, include_blank: true), required: true, class: 'expiration-date-part'
        %span.slash /
        = select_tag :expiration_year, options_for_select((Time.now.year..(Time.now.year+10)).to_a, include_blank: true), required: true, class: 'expiration-date-part'
    = submit_tag 'Add Payment Method'

  = form_tag add_address_user_path(current_user), method: :post, class: 'user-form' do
    .address-fields
      = label_tag :shipping_address_1, "Shipping Address 1 #{content_tag(:span, '*', class: 'required')}".html_safe
      = text_field_tag 'shipping_address_1'
      = label_tag 'Shipping Address 2'
      = text_field_tag 'shipping_address_2'
      = label_tag :country, "Country #{content_tag(:span, '*', class: 'required')}".html_safe
      = select_tag 'country', options_for_select(countries_list), id: 'country'
      #state-select
        = label_tag 'State'
        = select_tag 'state', options_for_select(states_list), id: 'state'
      = label_tag :city, "City #{content_tag(:span, '*', class: 'required')}".html_safe
      = text_field_tag 'city'
      = label_tag :postal_code, "Postal Code #{content_tag(:span, '*', class: 'required')}".html_safe
      = text_field_tag 'postal_code'
    = submit_tag 'Add Address'
  -# Form for deleting an address
  = form_tag delete_address_user_path, method: :delete, class: 'user-form' do
    .address-selection
      %label{for: "address-select"} Select Shipping Address to Delete:
      %select#address-select{name: "address_id"}
        %option{value: ""} Choose an address
        - @user.addresses.each do |address|
          %option{value: address.id}= "#{address.shipping_address_1}, #{address.city}, #{address.state}"
    = submit_tag 'Delete Address', data: { confirm: 'Are you sure you want to delete this address?' }

    -# Form for deleting a payment method
  = form_tag delete_payment_method_user_path, method: :delete, class: 'user-form' do
    .payment-method-selection
      %label{for: "payment-method-select"} Select Payment Method to Delete:
      %select#payment-method-select{name: "payment_method_id"}
        %option{value: ""} Choose a payment method
        - @user.payment_methods.each do |payment_method|
          %option{value: payment_method.id}= "Card ending in #{payment_method.card_number.last(4)}"
    = submit_tag 'Delete Payment Method', data: { confirm: 'Are you sure you want to delete this payment method?' }





