-# in app/views/users/show.html.haml
- flash.each do |type, message|
  %div{ class: "flash #{type}" }= message
%div.user-profile-container

  %div.user-account-details
    %div.user-profile-image
      = image_tag("BasicProfilePic.png", alt: 'User profile image', class: 'user-profile-pic')
    %h2.user-account-title My Account
    %p.user-username
      %strong Username:
      = @user.username
    %p.user-email
      %strong Email:
      = @user.email
    %p.user-phone-number
      %strong Phone Number:
      = @user.phone_number

    - if logged_in?
      - if current_user.id == @user.id
        %h3.user-addresses-title Addresses
        %table.user-addresses-table
          %thead
            %tr
              %th Address Line 1
              %th Address Line 2
              %th City
              %th State
              %th Country
              %th Postal Code
          %tbody
            - @user.addresses.each do |address|
              %tr
                %td= address.shipping_address_1
                %td= address.shipping_address_2
                %td= address.city
                %td= address.state
                %td= address.country
                %td= address.postal_code

        %h3.user-payment-methods-title Payment Methods
        %table.user-payment-methods-table
          %thead
            %tr
              %th Card Number
              %th Expiration Date
          %tbody
            - @user.payment_methods.each do |payment_method|
              %tr
                %td= "****-****-****-#{payment_method.last_four_digits}"
                %td= payment_method.expiration_date

    - if !current_user.nil?
      - if current_user.id == @user.id
        %div.user-navigation-and-tables
          %div.user-navigation-section
            = form_tag search_path(seller: @user.username), method: :get do
              = hidden_field_tag :seller, @user.username
              = submit_tag "My Items for Sale", name: nil, class: 'user-button user-nav-button'
            = form_tag search_path, method: :get do
              = hidden_field_tag :user_id, @user.id
              = hidden_field_tag :purchased, true
              = submit_tag "My Purchases", name: nil, class: 'user-button user-nav-button'
            = form_tag search_path, method: :get do
              = hidden_field_tag @user.id, params[:user_id]
              = submit_tag "Contact Company", name: nil, class: 'user-button user-nav-button'
            = form_tag edit_user_path(@user), method: :get, class: 'user-edit-profile-form' do
              = submit_tag 'Edit Profile', class: 'user-button user-edit-profile-button'
            = link_to "Bookmarks", search_path(bookmarks: '1'), class: 'user-button user-my-bookmarked-items-btn'
      - else
        %div.user-navigation-and-tables
        %div.user-navigation-section
          = form_tag search_path(search: @user.username), method: :get do
            = hidden_field_tag @user.id, params[:user_id]
            = submit_tag "Items for Sale", name: nil, class: 'user-button user-nav-button'
          = form_tag search_path, method: :get do
            = hidden_field_tag @user.id, params[:user_id]
            = submit_tag "Contact Company", name: nil, class: 'user-button user-nav-button'
    - else
      %div.user-navigation-and-tables
        %div.user-navigation-section
          = form_tag search_path(search: @user.username), method: :get do
            = hidden_field_tag @user.id, params[:user_id]
            = submit_tag "Items for Sale", name: nil, class: 'user-button user-nav-button'
          = form_tag search_path, method: :get do
            = hidden_field_tag @user.id, params[:user_id]
            = submit_tag "Contact Company", name: nil, class: 'user-button user-nav-button'

    %section.seller-reviews-container
    %h2 Seller Reviews
    - if @reviews.present?
      .reviews-list
        - @reviews.each do |review|
          .review-card
            %h3.review-title= review.title
            %p.review-item
              %strong Item:
              = link_to review.purchase.item.title, item_path(review.purchase.item)
            %p.review-rating Rating:
            .rating-stars
              - review.rating.times do
                %span ★
              - (5 - review.rating).times do
                %span ☆
            %p.review-content= review.content
            %p.review-date= review.created_at.strftime("%B %d, %Y")

            - if review.purchase.user == current_user
              = button_to review_path(review), method: :delete, data: { confirm: 'Are you sure you want to delete this review?' }, class: 'delete-review-button' do
                = hidden_field_tag :item_id, review.purchase.item.id
                = 'Delete'

    - else
      %p No reviews yet for this seller.
