-# app/views/home/index.html.haml
- flash.each do |type, message|
  %div{ class: "flash #{type}" }= message

.home-container
  .home-subheader Items for Sale
  .home-items-container
    - if @suggested_items.empty?
      .home-subheader There are no items for sale.
      - @suggested_items.each do |item|
        - unless item.purchased?
          .home-item
            = link_to item.title, item_path(item), class: 'item-title-link'

            %h3= "$#{'%.2f' % item.price}"
            - if item.images.any?
              = image_tag item.images.first.data_uri, alt: item.title, class: 'home-item-image'


.home-container
  .home-subheader Your Items for Sale
  .home-items-container
    - if current_user.nil?
      .home-subheader You are not signed in.
    - elsif @user_items.empty?
      .home-subheader You have no items for sale.
    -else
      - @user_items.each do |item|
        .home-item
          - if item.purchased?
            %p.item-purchased This item has been purchased
          -else
            = link_to item.title, item_path(item), class: 'item-title-link'
          %h3= "$#{'%.2f' % item.price}"
          - if item.images.any?
            = image_tag item.images.first.data_uri, alt: item.title, class: 'home-item-image'

%footer.home-footer
  %p.home-footer-text © 2023 Deal Docks. All rights reserved.
