.container
  .home-header Welcome to Deal Docks

.home-container
  .category-list
    - @categories.each do |category|
      = form_tag search_path, method: :get do
        = hidden_field_tag category[:name], params[:category]
        = submit_tag category[:name], class: 'category-button'

.home-container
  .home-header2 Suggested Items
  .items-container#suggested-items
    - if @suggested_items.empty?
      .home-header2 No suggested items.
    -else
      - @suggested_items.each do |item|
        .item
          %h3= item.title
          %h3= item.user_id
          %h3= "Item Price"

.home-container
  .home-header2 Your Items for Sale
  .items-container#user-items
    - if @user_items.empty?
      .home-header2 You have no items for sale.
    -else
      - @user_items.each do |item|
        .item
          %h3= item.title
          %h3= item.user_id
          %h3= "Price"

%footer
  %p © 2023 Deal Docks. All rights reserved.
