-# in app/views/items/edit.html.haml

%div.form-container
  %h1= action_name == 'new' ? 'List a new item' : 'Edit item'
  = form_for @item, html: { multipart: true, class: 'item-form' } do |f|
    - if @item.errors.any?
      #error_explanation
        %h2
          = pluralize(@item.errors.count, "error")
          prohibited this item from being saved:
        %ul
          - @item.errors.full_messages.each do |message|
            %li= message

    .form-field
      = f.label :title
      = f.text_field :title, required: true, maxlength: 255

    .form-field
      = f.label :description
      = f.text_area :description, required: true, maxlength: 1000

    .form-field
      = f.label :width
      = f.number_field :width, required: false, step: '0.01'

    .form-field
      = f.label :length
      = f.number_field :length, required: false, step: '0.01'

    .form-field
      = f.label :height
      = f.number_field :height, required: false, step: '0.01'

    .form-field
      = f.label :dimension_units
      = f.select :dimension_units, Item.dimension_units, {include_blank: true}, required: false

    .form-field
      = f.label :weight
      = f.number_field :weight, required: false, step: '0.01'

    .form-field
      = f.label :weight_units
      = f.select :weight_units, Item.weight_units, {include_blank: true}, required: false

    .form-field
      = f.label :condition
      = f.select :condition, Item.conditions, {include_blank: true}, required: true

    .form-field
      = f.label :price
      = f.number_field :price, required: true, step: '0.01'

    .form-field
      = f.label :categories
      = f.collection_select :category_ids, @categories, :id, :name, {include_blank: true}, { multiple: false, required: true }

    .form-field
      = f.label :current_images
      - @item.images.each_with_index do |image, index|
        .image-row
          = image_tag image.data_uri, alt: "#{@item.title} image #{index}"
          %label.checkbox-container
            = check_box_tag "remove_images[#{index}]", 1, false, id: "remove_images_#{index}", class: 'custom-checkbox'
            %span Remove image?




    .drop-zone
      %p Drag and drop files here or
      %button#upload-btn Upload New Files (Max: 5 images)
      = f.file_field :images, multiple: true, accept: 'image/*', required: true, style: 'display: none;', id: 'file-input'

    .file-names
      %p#file-list No files selected

    = f.submit action_name == 'new' ? 'List Item' : 'Update Item', class: 'form-submit-button'

