-# in app/views/items/new.html.haml

%div.form-container
  %h2= action_name == 'new' ? 'List a New Item' : 'Edit Your Item'

  = form_for @item, html: { multipart: true, class: 'item-form' } do |f|
    - if @item.errors.any?
      #error_explanation
        %h2
          = pluralize(@item.errors.count, "error")
          prohibited this item from being saved:
        %ul
          - @item.errors.full_messages.each do |message|
            %li= message

    .form-field
      = f.label :title
      = f.text_field :title

    .form-field
      = f.label :description
      = f.text_area :description

    .form-field
      = f.label :price
      = f.number_field :price

    .form-field
      = f.label :categories
      = f.collection_select :category_ids, @categories, :id, :name, {}, { multiple: true, size: 6 }

    .form-field
      = f.label :image
      = f.file_field :image

    = f.submit action_name == 'new' ? 'List Item' : 'Update Item', class: 'form-submit-button'
