-# in app/views/items/new.html.haml

%h2= action_name == 'new' ? 'List a New Item' : 'Edit Your Item'

= form_for @item, html: { multipart: true } do |f|
  - if @item.errors.any?
    #error_explanation
      %h2
        = pluralize(@item.errors.count, "error")
        prohibited this item from being saved:
      %ul
        - @item.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title

  .field
    = f.label :description
    = f.text_area :description

  .field
    = f.label :price
    = f.number_field :price

  .field
    = f.label :categories
    = f.collection_select :category_ids, @categories, :id, :name, {}, { multiple: true, size: 6 }

  .field
    = f.label :image
    = f.file_field :image

  .actions
    = f.submit action_name == 'new' ? 'List Item' : 'Update Item'


