%div.form-container
  %h1= action_name == 'new' ? 'List a new item' : 'Edit item'
  = form_for @item, html: { multipart: true, class: 'item-form' } do |f|
    - if @item.errors.any?
      #error_explanation
        %h2
          = pluralize(@item.errors.count, "error")
          prohibited this item from being saved:
        %ul
          - @item.errors.full_messages.each do |message|
            %li= message

    .form-field
      = f.label :title
      = f.text_field :title, required: true, maxlength: 255

    .form-field
      = f.label :description
      = f.text_area :description, required: true, maxlength: 1000

    .form-field
      = f.label :width
      = f.number_field :width, required: false, step: '0.01', min: 0

    .form-field
      = f.label :length
      = f.number_field :length, required: false, step: '0.01', min: 0

    .form-field
      = f.label :height
      = f.number_field :height, required: false, step: '0.01', min: 0

    .form-field
      = f.label :dimension_units
      = f.select :dimension_units, Item.dimension_units, {include_blank: true}, required: false

    .form-field
      = f.label :weight
      = f.number_field :weight, required: false, step: '0.01', min: 0

    .form-field
      = f.label :weight_units
      = f.select :weight_units, Item.weight_units, {include_blank: true}, required: false

    .form-field
      = f.label :condition
      = f.select :condition, Item.conditions, {include_blank: true}, required: true

    .form-field
      = f.label :price
      = f.number_field :price, required: true, step: '0.01'
      #price-breakdown
        %h2#fee-amount Fee (5%): $0.00
        %h2#total-price You Receive: $0.00
      :javascript
        document.addEventListener('DOMContentLoaded', function() {
          document.getElementById('item_price').addEventListener('input', function() {
            var price = parseFloat(this.value) || 0;
            var fee = price * 0.05;
            var total = price - fee;
            document.getElementById('fee-amount').textContent = 'Fee (5%): $' + fee.toFixed(2);
            document.getElementById('total-price').textContent = 'You Receive: $' + total.toFixed(2);
          });
        });
    .form-field
      = f.label :categories
      = f.collection_select :category_ids, @categories, :id, :name, {include_blank: false}, { multiple: true, required: true, size: 3 }

    .drop-zone
      %p Drag and drop images here or
      %button#upload-btn Upload Files (Max: 5 images)
      = f.file_field :images, multiple: true, accept: 'image/*', required: true, style: 'display: none;', id: 'file-input'

    .file-names
      %p#file-list No files selected

    = f.submit action_name == 'new' ? 'List Item' : 'Update Item', class: 'form-submit-button'
