%div.form-container
  = form_for @item, html: { multipart: true, class: 'item-form' } do |f|
    - if @item.errors.any?
      #error_explanation
        %h2
          = pluralize(@item.errors.count, "error")
          prohibited this item from being saved:
        %ul
          - @item.errors.full_messages.each do |message|
            %li= message

    .form-field
      = f.label :title
      = f.text_field :title, required: true, maxlength: 255

    .form-field
      = f.label :description
      = f.text_area :description, required: true, maxlength: 1000

    .form-field
      = f.label :price
      = f.number_field :price, required: true, step: '0.01'

    .form-field
      = f.label :categories
      = f.collection_select :category_ids, @categories, :id, :name, {include_blank: true}, { multiple: true, required: true, size: 6 }

    .form-field
      = f.label :images
      = f.file_field :images, multiple: true, accept: 'image/*', required: true

    = f.submit action_name == 'new' ? 'List Item' : 'Update Item', class: 'form-submit-button'
