%section.item-page
  %h1= @item.title
  %p.item-price= "Price: $#{'%.2f' % @item.price}"

  - if @item.images.any?
    .carousel-container
      .carousel-slide
        - @item.images.each_with_index do |image, index|
          = image_tag image.data_uri, alt: "#{@item.title} image #{index}", class: 'item-carousel-image', style: "display: none;"

      %a.carousel-control-prev{ href: "#", onclick: "moveSlide(-1); return false;" }
        %span &laquo; Prev
      %a.carousel-control-next{ href: "#", onclick: "moveSlide(1); return false;" }
        %span Next &raquo;

  .item-action-buttons
    = link_to "View seller's other item's", search_path(seller: @user.username), method: :get, form: {class: 'search-form'}, class: 'search-button'
    - if @item.purchase.user == current_user
      %p.item-purchased Leave a review for this seller
    - else
      %p.item-purchased View reviews for this seller


  .item-details
    %p#item-description= @item.description
    .item-attributes
      %p
        %strong Listed on:
        %span= @item.created_at.strftime("%B %d, %Y")
      %p
        %strong Listed by:
        %span= @user.username
      %p
        %strong Purchased by:
        %span= @item.purchase.user.username
      %p
        %strong Purchased on:
        %span= @item.purchase.created_at.strftime("%B %d, %Y")
      %p
        %strong Delivery Status:
        - if @item.purchase.created_at == @item.purchase.updated_at
          %span Delivered
        - else
          %span Not Delivered


