%h1 The following items were found on TMDb for "#{@search_term}"

= form_tag movies_add_tmdb_path, method: :post do
  %table#search_results
    %thead
      %tr
        %th Movie Title
        %th Rating
        %th Release Date
        %th Select
    %tbody
      - @search_movies.each do |movie|
        %tr
          %td= movie[:title]
          %td= movie[:rating]
          %td= movie[:release_date]
          %td=check_box_tag "tmdb_movies[#{movie[:tmdb_id]}]"

  = submit_tag "Add Selected Movies", id: "add_movies_button"
=link_to 'Back to movie list', movies_path
