%section.item-page
  - if flash[:success].present?
    %p.success-flash= flash[:success]

  - if flash[:error].present?
    %p.error-flash= flash[:error]

  %h1= @item.title
  %p.item-price= "Price: $#{'%.2f' % @item.price}"

  - if @item.categories.any?
    %p.categories
    %span.label Categories:
    - @item.categories.each do |category|
      = link_to search_path(categories: category[:name]), method: :get, class: 'local-category-button' do
        = category[:name]


  - if @item.images.any?
    .carousel-container
      .carousel-slide
        - @item.images.each_with_index do |image, index|
          = image_tag image.data_uri, alt: "#{@item.title} image #{index}", class: 'item-carousel-image', style: "display: none;"

      %a.carousel-control-prev{ href: "#", onclick: "moveSlide(-1); return false;" }
        %span &laquo; Prev
      %a.carousel-control-next{ href: "#", onclick: "moveSlide(1); return false;" }
        %span Next &raquo;

  .item-action-buttons
    - if current_user.nil?
      = button_to "Sign in to buy", '/auth/google_oauth2', method: :post, class: 'buy-button'
    - elsif current_user.id == @item.user_id
      = button_to "Edit Item", edit_item_path(id: @item.id), method: :get, class: 'buy-button'
      = button_to "Delete Item", item_path(id: @item.id), method: :delete, data: { confirm: "Are you sure you want to delete this listing?" }, class: 'buy-button'
    - else
      - if @item.purchased?
        %p.item-purchased This item has been purchased
      - else
        = button_to "Buy Now", checkout_path(id: @item.id), method: :get, class: 'buy-button'
    = link_to "View users other item's", search_path(seller: @user.username), method: :get, form: {class: 'search-form'}, class: 'search-button'
    %button#bookmark-button.bookmark-button{ 'data-item-id': @item.id, 'data-bookmarked': @bookmarked ? 1 : 0 }
      = @bookmarked ? 'Unbookmark' : 'Bookmark'

  .item-details
    %p#item-description= @item.description
    .item-attributes
      %p
        %strong Size (LxWxH):
        %span= @item.dimensions
      %p
        %strong Weight:
        %span= "#{@item.weight} #{ @item.weight_units }"
      %p
        %strong Condition:
        %span= @item.condition_text
      %p
        %strong Listed on:
        %span= @item.created_at.strftime("%B %d, %Y")
      %p
        %strong Listed by:
        %span= @user.username

  %section.related-items
  %h2 You might also like
  - @related_items ||= []
  - @related_items.first(3).each do |related_item|
    = link_to item_path(related_item), class: 'related-item-link' do
      .related-item
        - if related_item.images.any?
          = image_tag related_item.images.first.data_uri, alt: related_item.title, class: 'related-item-image'
        %h3= related_item.title

%section.seller-reviews-container
  %h2 Seller Reviews
  - if @reviews.present?
    .reviews-list
      - @reviews.each do |review|
        .review-card
          %h3.review-title= review.title
          %p.review-item
            %strong Item:
            = link_to review.purchase.item.title, item_path(review.purchase.item)
            %p.review-rating Rating:
            .rating-stars
              - review.rating.times do
                %span ★
              - (5 - review.rating).times do
                %span ☆
            %p.review-content= review.content
            %p.review-date= review.created_at.strftime("%B %d, %Y")
  - else
    %p No reviews yet for this seller.
