%section.item-page
  %h1= @item.title
  %p.item-price= "Price: $#{'%.2f' % @item.price}"

  - if @item.images.any?
    .carousel-container
      .carousel-slide
        - @item.images.each_with_index do |image, index|
          = image_tag image.data_uri, alt: "#{@item.title} image #{index}", class: 'item-carousel-image', style: "display: none;"

      %a.carousel-control-prev{ href: "#", onclick: "moveSlide(-1); return false;" }
        %span &laquo; Prev
      %a.carousel-control-next{ href: "#", onclick: "moveSlide(1); return false;" }
        %span Next &raquo;

  .item-action-buttons
    = button_to "Buy Now", search_path(search: @user.username), method: :get, form: {class: 'search-form'}, class: 'buy-button'
    = link_to "View users other item's", search_path(seller: @user.username), method: :get, form: {class: 'search-form'}, class: 'search-button'
    %button#bookmark-button.bookmark-button{ 'data-item-id': @item.id, 'data-bookmarked': @bookmarked ? 1 : 0 }
      = @bookmarked ? 'Unbookmark' : 'Bookmark'

  .item-details
    %p#item-description= @item.description
    .item-attributes
      %p
        %strong Listed on:
        %span= @item.created_at.strftime("%B %d, %Y")
      %p
        %strong Listed by:
        %span= @user.username

    = button_to "Buy Now", checkout_path(id: @item.id), method: :get, class: 'buy-button'
    = button_to "View users other item's", search_path(search: @user.username), method: :get, form: {class: 'search-form'}, class: 'search-button'

  %section.related-items
  %h2 You might also like
  - @related_items ||= []
  - @related_items.first(3).each do |related_item|
    = link_to item_path(related_item), class: 'related-item-link' do
      .related-item
        - if related_item.images.any?
          = image_tag related_item.images.first.data_uri, alt: related_item.title, class: 'related-item-image'
        %h3= related_item.title

