%section.item-page
  %h1= @item.title
  %p.item-price= "Price: $#{'%.2f' % @item.price}"

  .item-details
    %p#item-description= @item.description
    .item-attributes
      %p
        %strong Listed on:
        %span= @item.created_at.strftime("%B %d, %Y")
      %p
        %strong Listed by:
        %span= @user.username

    = button_to "Buy Now", checkout_path(id: @item.id), method: :get, class: 'buy-button'
    = button_to "View users other item's", search_path(search: @user.username), method: :get, form: {class: 'search-form'}, class: 'search-button'

  %section.related-items
    %h2 You might also like
    - @related_items ||= []
    - @related_items.each do |related_item|
      .related-item
        = link_to related_item.title, item_path(related_item)
        - if related_item.images.any?
          = image_tag related_item.images.first.data_uri, alt: related_item.title, class: 'related-item-image'

%section.parent-container
  %button#bookmark-button.bookmark-button{ 'data-item-id': @item.id, 'data-bookmarked': @bookmarked ? 1 : 0 }
    = @bookmarked ? 'Unbookmark' : 'Bookmark'
